body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.monitor-view {
  width: 70%;
  border: 2px solid #ccc;
  height: 50vh;
  background-color: black;
  border-radius: 2px;
  margin: 40px auto;
  display: flex;
  justify-content: center;
}


canvas {
  display: block;
  width: 100%;
}

.monitor {
  width: 60%;
  display: flex;
  justify-content: center;
}